
h1 {color: red;}
.fotochipa {width: auto; height: 150px;}
.fotochipa {text-align: center;}
.texto {text-align: center;}
h2 {text-align: center;}
.textomapa {text-align: center;}
#mapa1 {
  height: 350px;
  width: 100%;
}
.TACC {color: red}
.video1 {height: 350px;
width: 100%;}
