@font-face {
  font-family: "fuente1";
  src: url(../fuentes/fuentes.ttf) format("truetype")
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
p {
  display: flex;
  justify-content: center;
  font-family: "fuente1"
}
.imgchipa {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 40vh;
  background: #FFF8DC;
}
.navegador {
  display: flex;
  justify-content: space-around;
}
.mapa1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {background-position: center;
border: 2px solid }
.texto {text-align: center;
}
h2 {text-align: center;

}
.textomapa {text-align: center;
}

.TACC {color: red;
}
.video1 {
  display: flex;
  justify-content: center;
}

.igimg {
 width: 100px;
 height: auto;
}
.twimg {
  width: 100px;
  height: auto;
}
.wspimg {
  width: 100px;
  height: auto;
}
.inumakilogo {
  width: 100px;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  background-color: #FFF8E7;
}
.mapasaladillo {
  width: 400px;
  height: 150px;
}
.footer {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  background-color: #FFF8E7;
}
